<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 156 156'%3E%3Cdefs%3E%3ClinearGradient id='a9e4d2293-971d-41af-b0c1-b91f22aafc5e' y1='78.34'%3E%3Cstop offset='0' stop-color='%23ff8b34'/%3E%3Cstop offset='1' stop-color='%23fc7824'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M114.92 113.88V97.06c0-17.49-.06-35 0-52.48 0-3.44-.82-5.18-4.73-5.15-22.33.13-44.65.07-67 .09a19 19 0 0 0-2.41.45c5.87 5.87 11.33 11.32 16.77 16.78 6.92 6.94 6.9 6.94 0 13.8Q31.49 96.7 5.33 122.85c-1.14 1.13-2.22 3.27-3.87 2.73-2.1-.69-1.32-3.14-1.32-4.86-.05-25.49 0-51-.08-76.47a11.71 11.71 0 0 1 3.56-8.93q16.49-16.38 32.83-32.9A8.17 8.17 0 0 1 42.74 0q34.48.06 69 0a9.25 9.25 0 0 1 7.06 3q16.35 16.52 32.87 32.87a8.57 8.57 0 0 1 2.75 6.64c-.09 10.16-.13 20.33 0 30.49a10.16 10.16 0 0 1-3.36 7.92c-10.56 10.41-20.94 21-31.53 31.38-2.43 2.38-2.63 3.78 0 6.33q29.55 29.1 58.81 58.48c.89.89 2.47 1.66 1.87 3.2s-2.31 1-3.56 1c-20.82 0-41.65 0-62.48.07-3.75 0-5-1.7-5-5.15.06-9.5-.14-19 .09-28.49.09-3.57-1.1-4.64-4.55-4.57q-13.74.27-27.49 0c-3.7-.06-5 1.37-4.91 5 .16 9.16-.08 18.33.11 27.49.08 3.93-1 5.74-5.33 5.71-20.5-.15-41-.06-61.48-.08-1.28 0-3 .48-3.66-.88-.89-1.77 1-2.63 2-3.59Q45.72 135 87.57 93c2.79-2.81 4.44-2.27 6.85.23 6.34 6.62 12.88 13.01 20.5 20.65z' fill='url(%23a9e4d2293-971d-41af-b0c1-b91f22aafc5e)'/%3E%3C/svg%3E"
      type="image/svg+xml"
    />

    <title>Excel Transformer</title>
    <style>
      /* Your existing styles */

      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        /* Adjusted for vertical stacking */
        align-items: center;
        justify-content: center;
        height: 100vh;
        /* background-color: rgba(14, 233, 244, 0.7); */
      }

      /* 
        body::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(14, 233, 244, 0.7);
            /* Adjust opacity and color */
      /* } */

      h1 {
        text-align: center;
        color: #333;
      }

      h2 {
        text-align: center;
        color: #3498db;
        font-size: 3em;
        margin-bottom: 20px;
      }

      form {
        background-color: #fff;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        /* Added spacing between form and support link */
        transition: box-shadow 0.3s ease;
      }

      form.dragover {
        box-shadow: 0 0 20px rgba(33, 150, 243, 0.7);
      }

      input[type="file"] {
        margin-bottom: 10px;
      }

      button {
        background-color: #4caf50;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
      }

      button:hover {
        background-color: #45a049;
      }

      /* New styles for the support link */

      .support-link {
        text-align: center;
      }

      .support-box {
        background-color: #3498db;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      }

      .support-link p {
        margin: 0;
        color: #fff;
        font-size: 16px;
      }

      .support-link a {
        display: inline-block;
        margin-top: 10px;
        padding: 10px 20px;
        background-color: #fff;
        color: #3498db;
        text-decoration: none;
        border-radius: 4px;
        font-weight: bold;
        transition: background-color 0.3s ease;
      }

      .support-link a:hover {
        background-color: #2980b9;
        color: #fff;
      }

      .contact-section {
        background-color: #eee;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
        text-align: center;
      }

      .how-to-use-section {
        background-color: #eee;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        text-align: center;
      }

      .how-to-use-section h3 {
        color: #333;
      }

      .how-to-use-section p {
        color: #666;
      }

      .contact-section h3 {
        color: #333;
      }

      .contact-section p {
        color: #666;
      }
    </style>
  </head>

  <body>
    <h2>محول بار كود رصد</h2>
    <h1>في لحظات احصل على ملفك صالح للرفع على هيئة رصد مباشراً</h1>

    <div class="how-to-use-section">
      <h3>كيفية الاستخدام</h3>
      <p>
        للحصول على أفضل نتائج، تأكد من أن حجم الملف لا يتجاوز 4 ميجا، وأن يحتوي
        العمود الأول على معلومات الباركود. بعد ذلك، اختار الملف ثم اضغط حول
        الان.
      </p>
    </div>

    <form
      action="/transform"
      method="post"
      enctype="multipart/form-data"
      id="uploadForm"
    >
      <input type="file" name="excelFile" accept=".xlsx" />
      <button type="submit">حول الان</button>
    </form>

    <!-- Support link -->
    <div class="support-link">
      <div class="support-box">
        <p>
          هل يساعدك محول رصد ! ساعدنا في تكاليف تطوير و ابقاء محول رصد مفتوحا
          للابد بالمجان
        </p>
        <a href="https://www.buymeacoffee.com/ahmedsaaad" target="_blank">
          ❤️ ادعمنا بكوب قهوة
        </a>
      </div>
    </div>

    <!-- Contact section -->
    <div class="contact-section">
      <h3>اتصل بنا</h3>
      <p>
        للأسئلة والاستفسارات، يرجى التواصل معنا عبر البريد الإلكتروني:
        <br />
        <a href="mailto:ah.mo.saaad@gmail.com">ah.mo.saaad@gmail.com</a>
      </p>
      <p>
        إذا كان لديك أفكار جديدة أو ميزات تظن انها سوف تساعدك في عملك و ترغب في
        إضافتها، سوف نكون سعديين جدا بسماعها
      </p>
    </div>

    <script>
      var uploadForm = document.getElementById("uploadForm");

      uploadForm.addEventListener("dragover", function (e) {
        e.preventDefault();
        this.classList.add("dragover");
      });

      uploadForm.addEventListener("dragleave", function () {
        this.classList.remove("dragover");
      });

      uploadForm.addEventListener("drop", function (e) {
        e.preventDefault();
        this.classList.remove("dragover");
        var fileInput = this.querySelector('input[type="file"]');
        fileInput.files = e.dataTransfer.files;
      });
    </script>
  </body>
</html>
